
<img style="width: 80%" src="assets/header.png">
<div class="col-6">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Marca</th>
        <th scope="col">Linea</th>
        <th scope="col">Modelo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehiclesList">
        <th scope="row">{{vehicle.id}}</th>
        <td>{{vehicle.marca}}</td>
        <td>{{vehicle.linea}}</td>
        <td>{{vehicle.modelo}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngFor="let vehicleStats of vehicleTotalized">
    <p><span style="font-weight: bold;">{{vehicleStats['marca']}}</span>: <span>{{vehicleStats['counter']}}</span></p>
  </div>
</div>
